services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    image: injection-app
    container_name: injection-app-server
    command: npm run dev
    volumes:
      # bind mounting entire project folder to container for watcher detection
      - ./:/usr/app
      # node_modules gets its own volume for all containers to share
      - node_modules_app:/usr/app/node_modules
    ports:
      - "3000:3000"

  db:
      image: postgres:16
      container_name: postgres
      ports:
          - "5432:5432"

      environment:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: db
      volumes:
            - ./init:/docker-entrypoint-initdb.d

      
volumes:
    node_modules_app:
